*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    align-items: center;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 20px;
}
.links {
    display: flex;
    gap: 20px;
}
.hero-section {
    color: white;
    background-color: #1F2937;
    padding-bottom: 120px;
}
.logo {
    font-size: 24px;
    font-weight: 800;
}
.links {
    font-size: 18px;
}
.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background-color: #1f2937;
    margin-top: 80px;
}
.item-one{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}
.one-header {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
} 
.one-content {
    color: #f9faf8;
    font-size: 18px;
    color: #e5e7eb;
}
.one-button {
    padding: 9px 45px;
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.item-two{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;

}
.content-header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.boxes {
    font-size: 18px;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
}
.boxes p {
    text-align: center;
    color: #1f2937;
}
.item1, .item2, .item3, .item4 {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1, .box2, .box3, .box4 {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 10px;
    border-width: 4px;
    margin-bottom: 20px;
}
.content-section {
    margin-bottom: 150px;
}
.quote-section {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.quote {
    font-size: 36px;
    margin-top: 150px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    margin-bottom: 120px;
}
.quote p {
    color: #1f2937;
}
.text-quote {
    color: #1f2937;
    font-weight: 100;
}
.signature {
    text-align: end;
    font-weight: bold;
}
.callToAction-section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #3882F6;
    border-width: none;
    border-radius: 10px;
    
}
.cta-text {
    font-size: 24px;
    color: white;
}
.cta-text1 {
    font-weight: bold;
}
.cta-text2 {
    font-size: 20px;
}
.cta-button {
    display: flex;
    align-items: center;   
}
.cta-signup {
    padding: 7px 45px;
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-color: white;
    border-width: 3px;
    font-weight: bold;
}
.footer-section {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}